*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: #111;
    height: 440px;
    width: 300px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.stories{
    /* border-bottom: 1px solid white; */
    width: 100%;
    height: 95px;
  
    padding: 10px;
    gap: 5px;
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
}
.stories::-webkit-scrollbar{
    display: none;
}
.story{
    width: 80px;
    height: 80px;
    border: 2px solid red;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.story img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.full-screen{
    width: 100%;
    height: 90%;
    background-size:cover;
    background-position: center;
    position: absolute;
    display: none;
}
.reply{
    /* background-color: red; */
    width: 100%;
    height: 42px;
    position: absolute;
    bottom: 0px;
    padding: 8px;
    display: none;

}
.comment{
    border-radius: 5px;
    display: inline-block;
    border: 2px solid white;
    width: 150px;
    padding: 2px;
    color: white;
    
}
.reply i{
    position: absolute;
    right: 25px;
    font-size: 27px;
    color: white;
    background-size:cover;
    background-position: center;
}